* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.image-container img {
  width: 100%;
}

.image-container {
  position: absolute;
  width: 90%;
  margin: auto;
}

.container {
  display: flex;
  height: 50rem;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

#image-form {
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes centerToUP {
  0% {
    top: 0%;
  }
  100% {
    top: -350px;
  }
}
