* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.image-container img {
  width: 100%;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  color: white;
  box-shadow: 10px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
  /* border: 1px solid red; */
}

.image-container {
  position: absolute;
  width: 90%;
  margin-top: 2rem;
  /* border: 1px solid green; */
}

.image-slider {
  display: flex;
  /* align-content: center; */
  justify-content: center;
}

.image-slider .fa-random {
  font-size: 2rem;
  visibility: hidden;
  cursor: pointer;
}

.image-slider .fa-random:hover {
  color: white;
}

#spinner {
  visibility: hidden;
  position: absolute;
  height: 60px;
  width: 60px;
  border: 8px solid rgba(0, 0, 0, 0.4);
  border-left-color: white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.container {
  background: url(bg-img.png);
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

#image-form {
  width: 90%;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  margin-bottom: 2rem;
  /* border: 1px solid red; */
}

#image-form input {
  font-size: 20px;
  color: white;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  width: 100%;
  padding: 1.3rem;
  padding-right: 2rem;
  box-sizing: border-box;
  box-shadow: black;
  background: rgba(0, 0, 0, 0.3);
}

::placeholder {
  color: white;
}

@keyframes centerToUP {
  0% {
    top: 0%;
  }
  100% {
    top: -230px;
  }
}

#image-form i {
  position: absolute;
  top: 16%;
  transform: translateX(-17px);
  right: 0px;
  color: #fff;
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid;
}

#image-form i:hover {
  box-shadow: 0px 0px 1px 1px #00cec9;
  color: #00cec9;
}

@media (min-width: 900px) {
  .image-container {
    max-width: 900px;
  }
  #image-form {
    max-width: 70%;
  }
  @keyframes centerToUP {
    0% {
      top: 0%;
    }
    100% {
      top: -350px;
    }
  }
}
